*{
    font-family: 'Roboto Condensed', sans-serif;
}
.carasoul{
    width: 100%;
    height: 450px;
    /* border: 1px solid teal; */
}

.slideshow-items{
    position: absolute;
    top: 15%;
    left: 10%;
    color: #fff;
}
.slideshow-items h1{
    font-size: 53px;
}
.slideshow-items p{
    font-size: 15px;
}

.slideshow-items button{
    color: #000000;
    width: 100px;
    border: none;
}
#item1 button{
    width: 200px;
}
#item2{
    width: 50%;
}
#item3{
width: 30%;
left: 35%;
top: 10%;
text-align: center;
}

#gotta{
    height: 150px;
    width: 90%;
    margin: auto;
    /* border: 1px solid teal; */
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase
}
#gotta>div:nth-child(2) p{
    font-weight: bold;
    border-bottom: 1px solid black;
    cursor: pointer;
}
#gotta>div:nth-child(2) p:hover{
    border-bottom:2px solid black;
}
#gotta>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* border: 1px solid teal; */
    text-transform: uppercase
}
/* #gotta-Container{ */
    /* width: auto;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(30,350px);
    grid-template-rows: repeat(1,450px);
    gap: 30px;
    margin-top: 10px;
    overflow-x: scroll;
    text-align: center;
    margin-bottom: 20px;
}

#gotta-Container img{
    width: 100%;
    height: 50%;
} */
#mom-gift ,#mom-gift2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
}
#mom-gift>div ,#mom-gift2>div{
    width: 30%;
    height: auto;
}
#mom-gift h1 ,#mom-gift2 h1{
    font-size: 60px;
    text-transform: uppercase;

}
#shopBtn{
    display: flex;
    color: #fff;
    width: 350px;
    height: 30px;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
#shopBtn h3{
    font-size: 10px;
}
#shopBtn h3:hover{
    background-color: #2a2727;
}

#mom-gift img ,#mom-gift2 img{
width: 50%;
height: 100%;
}

.founders{
    width: 90%;
    height: auto;
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    margin: auto;
    /* border: 1px solid rebeccapurple; */
}
.founders>div{
    /* border:1px solid teal; */
    height: 100%;
}
.founders img{
    width: 100%;
    height: 50%;
}
.founder-title{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#y2k{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: center;
    gap: 100px;
    width: 80%;
    margin: auto;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}
#y2k img{
    width: 100%;
    height: 350px;
}

#learn_pro{
    grid-template-columns: repeat(3,1fr);
}
.main{
    height: auto;
    margin-top: 30px;
    /* border: 1px solid blue; */
}
#last_div{
    margin-top: 80px;
}

#gotta-container2,#gallery-Container{
    width: 90%;
    height: 500px;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    overflow: hidden;
}
#gallery-Container{
    height: 300px;
}
#gotta-Container,#gallery{
    position: relative;
    display: flex;
    gap: 10px;
 
 
}
#gotta-Container>div,#gallery>div{
    width: 400px;
    height: 100%;
    text-align: center;
}
#gallery>div{
    width: 300px;
    height: 200px;
}
#gotta-Container img{
    width: 100%;
    height: 50%;
}
#gallery img{
    width: 100%;
    height: 100%;
}
#left,#galLeft{
    width: 30px;
    height: 50px;
    background-color: rgba(206, 207, 206, 0.76);
    margin-top:140px;
    position: absolute;
    z-index: 1;
    border: 0;
}

#right,#galRight{
    width: 30px;
    height: 50px;
    background-color: rgba(206, 207, 206, 0.76);
    position: absolute;
	z-index: 5;
	display: inline-block;
    margin-left: 1070px;
    margin-top:140px;
    border: 0;
}
#right:hover,#galRight:hover{
    transform: scale(1.2);
}
#left:hover,galLeft:hover{
    transform: scale(1.2);
}
#galLeft,#galRight{
    margin-top: 80px;
}