#signIn{
    border: 2px solid;
    height: 700px;
    font-family: "BBText Regular", Helvetica, Arial, sans-serif;
}
.slideshow-container {
  position: relative;
  background: #343536;
  font-family: "BBText Regular", Helvetica, Arial, sans-serif;
}
i{
    margin-left: 30px;
}
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
  color: white;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 5px;
  color: #888;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
#enter{
    display: flex;
    justify-content: center;
}
#enter>div{
    border: solid;
    width: 30%;
    height: 400px;
}
#enterLeft P{
  width: 50%;
  font-weight: bolder;
   letter-spacing: 3px;
   line-height: 20px;
}
#enterLeft h2{
  height: 1px;
}
#enterLeft #login{
  width: 100%;
  height: 70%;
}
input{
  margin-top: 10px;
  width: 60%;
  height: 30px;
  outline: none;
  font-weight: lighter;
}
#login a{
  color: red;
}
#submit{
  background-color: #000;
  margin-top: 20px;
  outline: none;
}
#enterRight>P{
  width: 70%;
  font-weight: bolder;
   letter-spacing: 3px;
}
#enterRight>h2{
  width: 50%;
}
#month{
  color: #000;
  width: 20%;
}
#month option{
  color: #000;
  border: solid;
}